/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
*{
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

.error {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 225px;
  justify-content: center;
  width: 100%;
}

.error p {
  background-color: #fff;
  filter: drop-shadow(5px 5px 0 #e09f1e);
  font-family: 'Roboto', sans-serif;
  font-size: 3rem;
  font-weight: bold;
  padding: 15px;
  text-transform: uppercase;  
}

/******************************************
/* LAYOUT
/*******************************************/
img{
  display: block;
  margin: 0 auto;
  max-width: 200px;
}

h1 {
  color: rgba(255, 255, 255, .85);
  font-family: 'Oswald', sans-serif;
  font-size: 8rem;
  font-weight: 500;
  filter: drop-shadow(-5px 5px 0 #c58c1c);
  margin-bottom: 100px;
  padding: 2rem 5rem 0rem 5rem;
  text-transform: uppercase;
}

.cocktailName {
  color: #000;
  font-family: 'Oswald', sans-serif;
  font-size: 3rem;
  font-weight: bold;
  background-color: #e09f1e;
  padding: 5px 20px;
  display: flex;
  align-self: stretch;
  justify-content: center;
  text-align: center;
}

h3 {
  color: #e09f1e;
  font-family: 'Roboto', sans-serif;
  font-size: 1.6rem;
  font-weight: bold;
  margin: 0 0 1rem 0;
  padding-bottom: .25rem;
  text-transform: uppercase;
  border-bottom: 1px solid lightgrey;
  width: 100%;
  text-align: center;
}

h4 {
  color: #fff;
  font-family: sans-serif;
  font-size: 1.8rem;
  align-self: center;
}

p {
  font-size: 1.6rem;
}

ul {
  font-size: 1.6rem;
}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/

main {
  display: flex;
  align-items: center;
  justify-content: center;
  background-attachment: scroll;
  background-color: grey;
  background-position: top left;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%; 
}

main .header {
  background-color: #e09f1e;
  padding: 0rem 2rem 0rem 2rem;
  width: 40%;
  height: 475px;
}

main section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: url('../img/overlay.png'), url('../img/chuttersnap-75j_bL4BhU0-unsplash.jpg');
  background-size: cover;
  width: 60%;
  height: 475px;
}

main h2 {
  filter: none;
  color: rgba(255, 255, 255, .7);
  border-bottom: 2px solid #c58c1c;
  padding-bottom: 10px;
  text-align: right;
  font-size: 2rem;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}

form {
  display: flex;
  align-self: center;
}

.search {
  margin-bottom: 15px;
  -webkit-appearance: none;
  border-radius: 0;
}

input {
  padding: 0 10px;
  height: 35px;
  width: 325px;
  font-size: 16px;
  border: none;
  -webkit-appearance: none;
  border-radius: 0; 
}

button {
  background-color: #e09f1e;
  padding: 0 10px;
  border: none;
  width: 40px;
}

.clearButton {
  width: 40px;
  background: #fff;
  font-size: 2.5rem;
  -webkit-appearance: none;
  border-radius: 0;
}

.clearButton:hover {
  font-size: 2.7rem;
}

.randomButton {
  margin-left: 10px;
  height: 35px;
  width: 175px;
  text-transform: uppercase;
  font-weight: bold;
  font-family: 'Roboto', sans-serif;
}

#cocktails {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  background: #e0dddd;
  width: 100%;
  justify-content: center;
  padding: 3rem 0;
}

.cocktail {
  max-width: 28%;
  background: #fff;
  margin: 1.5rem;
  border-radius: 15px;
}

.cocktail img {
  margin-top: 1rem;
  max-width: 50%;
}

.cocktail div {
  align-items: center;
  display: flex;
  flex-direction: column;
  padding: 2rem;
}

.cocktail li, .cocktail p {
  font-family: 'Roboto', sans-serif;
}

.cocktail h3 {
  margin-top: 25px;
}

footer {
  height: 10rem;
  background-color: #e09f1e;
  color: #fff;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  text-align: center;
  justify-content: center;
  font-family: 'Roboto', sans-serif;
}

footer ul {
  margin-top: 15px;
}

footer li {
  display: inline;
  padding: 10px;
  font-size: 2rem;
}

footer a {
  color: #a37314;
}

footer a:hover {
  color: #5f440d;
}

#ninth>button, .searchButton{
  transition:all .5s ease-in-out;
  -webkit-appearance: none;
  border-radius: 0;
}

#ninth:hover button, .searchButton:hover {
  background:white;
  color: #e09f1e;
  -webkit-appearance: none;
  border-radius: 0;
}

#ninth:active button, .searchButton:active {
  background: #f8f4ed;
  transition: none;
  -webkit-appearance: none;
  border-radius: 0;
}

.homeButton {
  color: #fff;
  font-size: 2rem;
  padding: 2rem 0rem 0rem 0rem;
}

.homeButton:hover {
  color: rgba(255, 255, 255, .5)
}

/* ---------- Media Queries ----------- */

@media screen and (max-width: 600px) {
  h1 br {
    display: none;
  }
  h1 {
    font-size: 2.5rem;
    filter: none;
    margin: 0px;
    padding: 0 0 10px 0;
    text-align: center;
  }
  main h2 {
    font-size: 1.4rem;
    text-align: center;
    border-bottom: none;
  }

  main {
    flex-direction: column;
  }
  
  main .header {
    width: 100%;
    height: 100px;
    padding: 0px;
  }
  main section {
    width: 100%;
    height: 250px;
  }
  .homeButton {
    padding: .5rem 0 0 0;
    font-size: 1.8rem;
  }
  input {
    width: 200px;
    font-size: 16px;
  }
  #cocktails {
    padding: 0rem 0;
  }
  
  .cocktail {
    max-width: 100%;
    margin: 0 0 1rem 0;
    border-radius: 0px;
  }
  .cocktail img {
    max-width: 60%;
  }
}
/* @media screen and (min-width: 900px) {
  h1 br {
    display: none;
  }
  h1 {
    font-size: 4.5rem;
    filter: none;
    margin: 0px;
    padding: 10px 0 10px 0;
    text-align: center;
  }
  main h2 {
    font-size: 1.6rem;
    text-align: center;
    border-bottom: none;
  }

  main {
    flex-direction: column;
  }
  
  main .header {
    width: 100%;
    height: 150px;
    padding: 0px;
  }
  main section {
    width: 100%;
    height: 250px;
  }
  .homeButton {
    padding: 1rem 0 0 1rem;
    font-size: 1.8rem;
  }
  input {
    width: 300px;
  }
  #cocktails {
    padding: 1rem 0;
  }
  .cocktail {
    max-width: 47%;
    margin: 1rem;
    border-radius: 0px;
  }
  .cocktail img {
    max-width: 60%;
  }
} */
/* @media screen and (min-width: 901px) and (max-width: 1050px) {
  h1 {
    font-size: 5.5rem;
  }
  main h2 {
    font-size: 1.8rem;
  }
}
@media screen and (min-width: 1051px) and (max-width: 1200px) {
  h1 {
    font-size: 6.5rem;
  }
  main h2 {
    font-size: 2rem;
  }

} */