/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
*{
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}


.error {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 225px;
}

.error p {
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  background-color: #fff;
  filter: drop-shadow(5px 5px 0 #e09f1e);
  padding: 15px;
  font-size: 3rem;
}

/******************************************
/* LAYOUT
/*******************************************/
img{
  display: block;
  margin: 0 auto;
  max-width: 200px;
}

h1 {
  color: rgba(255, 255, 255, .85);
  font-family: 'Oswald', sans-serif;
  font-size: 8rem;
  font-weight: 500;
  filter: drop-shadow(-5px 5px 0 #c58c1c);
  padding-bottom: 2rem;
  text-transform: uppercase;
}

.cocktailName {
  color: #000;
  font-family: 'Oswald', sans-serif;
  font-size: 3rem;
  font-weight: bold;
  background-color: #e09f1e;
  padding: 5px 20px;
  display: flex;
  align-self: stretch;
  justify-content: center;
  text-align: center;
}

h3 {
  color: #e09f1e;
  font-family: 'Roboto', sans-serif;
  font-size: 1.6rem;
  font-weight: bold;
  margin: 0 0 1rem 0;
  padding-bottom: .25rem;
  text-transform: uppercase;
  border-bottom: 1px solid lightgrey;
  width: 100%;
  text-align: center;
}

h4 {
  color: #fff;
  font-family: sans-serif;
  font-size: 1.8rem;
  align-self: center;
}

p {
  font-size: 1.6rem;
}

ul {
  font-size: 1.6rem;
}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/

main {
  display: flex;
  align-items: center;
  justify-content: center;
  background-attachment: scroll;
  background-color: grey;
  background-position: top left;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%; 
}

main .header {
  background-color: #e09f1e;
  padding: 5rem 5rem 5rem 5rem;
  width: 40%;
  height: 400px;
}

main section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: url('../img/overlay.png'), url('../img/chuttersnap-75j_bL4BhU0-unsplash.jpg');
  background-size: cover;
  width: 60%;
  height: 400px;
}

main h2 {
  filter: none;
  color: rgba(255, 255, 255, .7);
  border-bottom: 2px solid #c58c1c;
  padding-bottom: 10px;
  text-align: right;
  font-size: 2rem;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}

form {
  display: flex;
  align-self: center;
}

.search {
  margin-bottom: 15px;
}

input {
  padding: 0 10px;
  height: 35px;
  width: 325px;
  border: none;
}

button {
  background-color: #e09f1e;
  padding: 0 10px;
  border: none;
  width: 40px;
}

.clearButton {
  width: 40px;
  background: #fff;
  font-size: 2.5rem;
}

.randomButton {
  margin-left: 10px;
  height: 35px;
  width: 175px;
  text-transform: uppercase;
  font-weight: bold;
  font-family: 'Roboto', sans-serif;
}

#cocktails {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  background: #eae8e8;
  width: 100%;
  justify-content: center;
  /* padding: 3rem 0; */
}

.cocktail {
  max-width: 22%;
  background: #fff;
  margin: 1rem;
}

.cocktail img {
  margin-top: 1rem;
  max-width: 50%;
}

.cocktail div {
  align-items: center;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  padding: 1.5rem;
}

.cocktail li, .cocktail p {
  font-family: 'Roboto', sans-serif;
}

.cocktail h3 {
  margin-top: 25px;
}

footer {
  height: 10rem;
  background-color: #e09f1e;
  color: #fff;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

#ninth>button, .searchButton{
  transition:all .5s ease-in-out;
}

#ninth:hover button, .searchButton:hover {
  background:white;
  color: #e09f1e;
}

#ninth:active button, .searchButton:active {
  background: #f8f4ed;
  transition: none;
}